*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild




/src/Current_Statistics.java
/src/Current_Statistics.form

/src/icons
/dist/

/UoE_Services
/feeUpdate_Processing